h4 COEN278: Web Programming II
h4 Lecturer: Yuan Wang
h4 408-123-4567
h4 ywang@scu.edu
br

<a class="twitter-timeline" href="https://twitter.com/SantaClaraUniv" data-widget-id="560291391847165952">Tweets by @SantaClaraUniv</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>