label for="name" Name:
input#title type="text" name="student[name]" value="#{@student.name}"
br
br
label for="student_id" Student ID:
input#length type="text" name="student[student_id]" value="#{@student.student_id}"
br
br
label for="email" Email:
input#email type="text" name="student[email]" value="#{@student.email}"
br
br
label for="grade" Grade:
input#grade type="text" name="student[grade]" value="#{@student.grade}"
input type="submit" value="Save"